* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* BRAND COLORS */

  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  /* TEXT COLORS */

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  /* SURFACE COLORS */

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  /* STROKE */

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;

  /* SEMANTIC */

  --semantic-error: #dc2626;

  /* SUPPORTING */

  --orange: #f9a474;
  --yellow: #fedf6f;
  --green: #c7d78d;
  --blue: #b8cedc;
  --violet: #c3b2e7;
  --pink: #f682a5;

  /* TYPOGRAPHY */

  --font-family: "Poppins", sans-serif;

  --text: 400 1rem/150% var(--font-family);
  --text-sm: 400 0.875rem/140% var(--font-family);

  --heading-xl: 700 2rem/120% var(--font-family);
  --heading-lg: 700 1.5rem/120% var(--font-family);
  --heading-md: 700 1.25rem/120% var(--font-family);
  --heading-sm: 700 1rem/120% var(--font-family);
}

body {
  overflow: hidden;

  font: var(--text);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}
