* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* BRAND COLORS */

  --brand-light: #F67841;
  --brand-mid: #F3541C;
  --brand-dark: #E43A12;

  /* TEXT COLORS */

  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  -text-highlight: #E43A12;

  /* SURFACE COLORS */

  --surface-primary: #FFFFFF;
  --surface-secondary: #FEE7D6;
  --surface-disabled: #E7E5E4;

  /* STROKE */

  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;

  /* SEMANTIC */

  --semantic-error: #DC2626;

  /* SUPPORTING */

  --orange: #F9A474;
  --yellow: #FEDF6F;
  --green: #C7D78D;
  --blue: #B8CEDC;
  --violet: #C3B2E7;
  --pink: #F682A5;

  /* TYPOGRAPHY */

  --font-family: "Poppins", sans-serif;
  --heading-xl: 700 32px/120% var(--font-family);
  --heading-lg: 700 24px/120% var(--font-family);
  --heading-md: 700 20px/120% var(--font-family);
  --heading-sm: 700 16px/120% var(--font-family);
}